@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Martin Gaspard & Dechavanne Lucas</h1>
    <br>
    <h2 class="display-5">Gestion de produits</h2>
    <p>Bienvenu sur notre page de gestion de produits !</p>
</div>
